body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  display: block;
  margin: 1rem;
}

.title{
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  left: 0%;
  margin-top: 0%;
  background-color: #fffe5a;
  color: #f318f3;
  z-index: 1;
}

.home-container{
  margin-top: 4rem;
  background-color: darkslateblue;
  width: 100%;
}

.home-header{
  background-color: slategrey;
  margin-top: -1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
}

.loading-container{
  width: 100%;
}

.rotating-clown {
  font-size:  6rem;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-items{
  text-align: left;
}

.header-user{
  text-align: right;
}

.link-text{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(187, 85, 38);
}

a{
  color: rgb(187, 85, 38);
}

.new-text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.new-text-button{
  border: solid;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
}

.login-button{
  border: solid;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  width: 6rem;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts-container{
  padding: 0rem 1rem;
}

.chat-button{
  position: fixed;
  left: 2rem;
  bottom: 3rem;
  border: solid slategrey;
  border-radius: 50%;
  background-color: white;
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
}

.chat-notification-dot{
  top: -370%;
  left: 40%;
  color: red;
  position: absolute;
  font-size: 6rem;
}

.chat-emoji{
  position: absolute;
  left: 0.5rem;
  top: -0.7rem;
  font-size: 1.5rem;
}

.chat-container{
  display: block;
  position: fixed;
  top: 20%;
  left: 10%;
  height: 60%;
  width: 80%;
  background-color: white;
  color: black;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.long-chat-container{
  padding: 0rem 1rem;
}

.chat-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.chat-name{
  text-transform: uppercase;
}

.chat-option{
  text-decoration: underline;
  cursor: pointer;
}

.chat-option-disabled{
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}