body{
    background-color: black;
}

#notes{
    height: 5%;
    color: white;
}

#quiz{
    background-color: black;
    position: relative;
    top: 200px;
    left: 80px;
}

#quiz button{
    display: block;
}

#video-container{
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
}